<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    Please login to post entry and follow my account.
    <br> <br>
    Or <%= link_to t(".sign_up"), "#" %> to create account for free!
  </h2>
</div>