<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    Please login to learn and follow my account.
    <br> <br>
    Or <%= link_to t(".sign_up"), new_user_path %> to create account for free!
  </h2>
</div>