<footer class="footer">
  <small>
    The <%= link_to t("project"), root_path %>
    by <a href="#"><%= t ".team" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"),   "#" %></li>
      <li><%= link_to t(".contact"), "#" %></li>
    </ul>
  </nav>
</footer>
